*{
    font-family: "Ubuntu Mono", monospace;
    text-decoration: none;
    list-style: none;
}
body{
    margin: 0px;
}
h1{
    font-family: "Dancing Script", cursive;
}

#home{
    height: 100vh;
    width: 100%;
    background-image: url(/img/background1.jpg);
    background-attachment: fixed;
    display: flex;
    flex-flow: column;
    align-items: center;
}
nav{
    width: 70%;
    position: fixed;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

nav h1{
    margin: 0px;
}
nav h1 a{
    font-weight: lighter;
    color: white;
    font-family: "Dancing Script", cursive;
}
nav li{
    color: white;
    display: inline;
    margin-left: 50px;
    font-size: 17px;
}
nav li a{
    color: #ffffff;
}

#home .content{
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 700px;
    width: 70%;
}
#home .content h1{
    font-family: "dancing script", cursive;
    font-size: 60px;
    text-shadow: 0 0 10px black;
    margin-bottom: 30px;
    border-right: 1px solid white;
    animation: text 4s ease-in-out infinite forwards;
    white-space: nowrap;
    overflow: hidden;
}
@keyframes text {
    0%{
        width: 0ch;
    }    
    50%{
        width: 22ch;
    }    
    100%{
        width: 0ch;
    }    
}

#home .content p{
    font-size: 30px;
    margin-bottom: 30px;
    text-shadow: 0 0 10px black;
    text-align: center;
} 
#home .content button{
    color: #ffffff;
    border: 1px solid white;
    height: 60px;
    width: 180px;
    background-color: transparent;
    font-size: 17px;
    transition-property: all;
    transition-duration: .2s;
}
#home .content button:hover{
    cursor: pointer;
    background-color: #FFCE44;
    font-size: 20px;
    border: 10px solid #FFCE44;
    outline: 1px solid rgb(255, 255, 255);
}

#about{
    height: 700px;
    width: 100%;
}
#about .grid{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about .grid .gridcont{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row ;
}

#about .grid .left{
    display: flex;
    flex-flow: column;
    padding: 30px;
    text-align: justify;
}
#about .grid .left h4{
    font-weight: lighter;
    font-size: 26px;
    margin: 0%;
}
#about .grid .left button{
    height: 60px;
    width: 180px;
    background-color: transparent;
    font-size: 17px;
    transition-property: all;
    transition-duration: .2s;
}
#about .grid .left button:hover{
    cursor: pointer;
    background-color: #FFCE44;
    font-size: 20px;
    border: 10px solid #FFCE44;
    outline: 1px solid black;
}
#about .grid .right{
    width: 59%;
}

#about .grid .right img{
    width: 100%;
    height: auto;
}
footer{
    height: 150px;
    background-color: black;
    color: #ffffff;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
footer li{
    display: inline;
}
footer i{
    font-size: 30px;
    color: #ffffff;
}
footer i:hover{
    cursor: pointer;
    color: #FFCE44;
}


#gallery{
    height: 1000px;
    width: 100%;
    background-attachment: fixed;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-image: url(/img/skyline.jpg);
}
#gallery .box {
    width: 40%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    overflow: hidden;
}
#gallery .box .box1{
    position: relative;
    animation: galler 4s ease  infinite;
}

@keyframes galler {
    0%{
        margin-left: 1100px;
    }
    50%{
        margin-left: 0px;
    }
    100%{
        margin-left: -1100px;
    }
}


#gallery .box h1{
    text-align: center;
}
#gallery .box h2{
    text-align: center;
}
#gallery .box p{
    width: 500px;
    text-align: center;
}

#gallery .dis{
    margin-top: 150px;
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#gallery .dis .img1{
    height: 750px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.11px solid grey;
    background: rgba(0, 0, 0, 0.342);
    flex-wrap: wrap;
}
.left{
    width: 45%;
}
.left img{
    width: 80%;
    border-radius: 100%;
    padding-left: 30px;
}
.right{
    width: 55%;
    color: #ffffff;
}
.right h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.right h3{
    color: grey;
    font-style: italic;
    margin-bottom: 20px;
    font-size: 18px;
}
.right button{
    color: #ffffff;
    border: 1px solid white;
    height: 60px;
    width: 180px;
    background-color: transparent;
    font-size: 17px;
    transition-property: all;
    transition-duration: .2s;
}
.right button:hover{
    cursor: pointer;
    background-color: #FFCE44;
    font-size: 20px;
    border: 10px solid #FFCE44;
    outline: 1px solid rgb(255, 255, 255);
}

#gallery .dis .img2{
    height: 650px;
    width: 70%;
    display: none;
    justify-content: center;
    align-items: center;
    border: 0.11px solid grey;
    background: rgba(0, 0, 0, 0.342);
    flex-wrap: wrap;
}

#gallery .dis .img3{
    height: 650px;
    width: 70%;
    display: none;
    justify-content: center;
    align-items: center;
    border: 0.11px solid grey;
    background: rgba(0, 0, 0, 0.342);
    flex-wrap: wrap;
}

.gallerybox{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.gallerybox h1{
    font-family: "dancing script", cursive;
    font-size: 45px ;
}
.gallerybox img{
    width: 300px;
    height: 300px;
}


#menu{
    height: 600px;
    width: 100%;
    background-attachment: fixed;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-image: url(/img/menu.jpg);
}

.menuitems{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    height: 500px;
}
.menuitems h1{
    font-size: 50px;
    font-family: "dancing script", cursive;
    margin-bottom: 0px;
}
.menuitems p{
    margin-top: 0px;
}
.menulist{
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 700px;
}

.menulist h1{
    font-family: "dancing script", cursive;
    font-size: 50px ;
}

.menulist .menucontent{
    width: 75%;
    display: flex;
    height: 500px;
    justify-content: space-between;
    align-items: center;
}
.menulist .menucontent .menubox1{
    width: 49%;
    height: 200px;
    border-bottom: 1px dashed grey;
    display: flex;
    align-items: flex-start;
    flex-flow: column;
}
.menulist .menucontent .menubox2{
    width: 49%;
    height: 200px;
    border-bottom: 1px dashed grey;
    display: flex;
    align-items: flex-end;
    flex-flow: column;

}
.menulist .menucontent h2{
    font-size: 17px;
    margin-bottom: 7px;
    font-weight: lighter;
}
.menulist .menucontent p{
    color: grey;
    margin-bottom: 7px;
}
.menulist .menucontent h3{
    color: #757575;
}

#blog{
    height: 600px;
    width: 100%;
    background-attachment: fixed;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-image: url(/img/blogback.jpg);
    background-size: 1900px 800px;
}
.blogbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    color: #ffffff;
    flex-flow: column;
}
.blogbox h1{
    font-size: 50px;
    margin-bottom: 10px;
}
.blogbox p{
    margin: 0%;
    text-align: center;
}

.blogbody{
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 1750px;
}
.blogbody h1{
    font-family: "dancing script", cursive;
    font-size: 50px ;
    text-align: center;
}
.blogbody .blogcomments{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
}
.blogbody .blogcomments .post{
    display: flex;
    border: 1px solid;
    height: 250px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 0 10px grey;
    flex-flow: column;
    margin-bottom: 10px;
}
.blogbody .blogcomments .post .top{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blogbody .blogcomments .post .bottom{
    height: 50px;
    background-color: #cecece;
    display: flex;
}
.bottom .like{
    display: flex;
    align-items: center;
    font-size: 23px;
    margin-right: 10px;
    padding-left: 30px;
}
.bottom .unlike{
    display: flex;
    align-items: center;
    font-size: 23px;
}
.bottom i{
    cursor: pointer;
    padding-left: 10px;
}
.bottom i:hover{
    color: blue;
}

.blogbody .blogcomments .post .pfp{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pfp img{
    width: 135px;
    height: 120px;
    border-radius: 100%;

}
.blogbody .blogcomments .post .postcont{
    width: 80%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.blogbody .blogcomments .post .postcont h6{
    margin-bottom: 5px;
    font-size: 13px;
    color: grey;
    margin-top: 0px;
    font-weight: lighter;
}
.blogbody .blogcomments .post .postcont h3{
    cursor: pointer;
    color: black;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 0px;
    font-weight: lighter;
}
.blogbody .blogcomments .post .postcont .email{
    cursor: pointer;
}
.blogbody .blogcomments .post .postcont p{
    margin: 0%;
    font-size: 18px;
}


#log{
    background-image: url(/img/log.jpeg);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    background-attachment: fixed;
}


.Login form{
    margin-top: 100px;
    padding-top: 60px;
    color: #ffffff;
    display: flex;
    flex-flow: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.575);
    border: 2px solid grey;
    border-radius: 40px;
    width: 500px;
    height: 500px;
}
form h1{
    font-size: 43px;
    margin: 0px;
}

form input{
    margin-top: 15px;
    width: 80%;
    height: 50px;
    border-radius: 40px;
    background: transparent;
    border: 1px solid grey;
    font-size: 23px;
    padding-left: 10px;
    color: #ffffff;
    transition: all;
    transition-duration: 0.5s;
    outline: none;
}
form input:focus{
    background: rgba(0, 0, 0, 0.52);
    border: #FFCE44;
    box-shadow: 0 0 10px #FFCE44;
}

form button{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    width: 180px;
    background: transparent;
    color: #ffffff;
    border: 1px solid white;
    transition: 0.3s;
}
form button:hover{
    cursor: pointer;
    background-color: #FFCE44;
    font-size: 20px;
    border: 10px solid #FFCE44;
    outline: 1px solid rgb(255, 255, 255);
}
form .sign a{
    color: red;
    font-family: cursive;
    cursor: pointer;
} 


.signup form{
    margin-top: 50px;
    padding-top: 40px;
    color: #ffffff;
    display: flex;
    flex-flow: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.575);
    border: 2px solid grey;
    border-radius: 40px;
    width: 600px;
    height: 700px;
}

.navmobi{
    display: none;
}
#navlist{
    display: none;
}


@media (max-width: 1000px) {
    nav{
        padding: 10px;
        width: 100%;
        background-color: black;
    }
    .navpc{
        display: none;
    }
    .navmobi{
        display: block;
    }
    #navlist{
        margin-top: 30px;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        color: #ffffff;
    }
    #navlist ul{
        padding: 0%;
    }
    #navlist li{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        height: 80px;
        font-size: 25px;
        padding: 5px;
        border: 1px solid;
        color: white;
        border: none;
        border-top: 1px dotted grey;
    }
    
    #navlist a{
        color: white;
    }

    nav button{
        background: none;
        color: #ffffff;
        border: none;
    }
    nav i{
        font-size: 30px;
    }
    #home .content h1{
        animation: none;
        white-space: wrap;
        text-align: center;
        border: none;
    }
    #about .grid .gridcont{
        width: 100%;
        flex-flow: column;
        height: 1000px;
    }
    #about{
        height: 1000px;
    }
    footer{
        width: 100vw;
    }
    .blogbody{
        height: 2400px;
    }

    .blogbody .blogcomments{
        width: 100%;
    }
    .blogbody .blogcomments .post{
        height: 350px;
    }
    .blogbody .blogcomments .post .top{
        height: 400px;
        flex-flow: column wrap;
    }
    .blogbody .blogcomments .post .bottom{
        justify-content: space-around;
    }
    .blogbody .blogcomments .post .postcont{
        margin-top: 10px;
        text-align: center;
    }
    .signup form{
        margin-top: 70px;
    }
    #log{
        height: 850px;
    }

    .menuitems p{
        width: 90%;
        text-align: center;
    }
    #gallery .box{
        width: 100%;
        overflow: visible;
    }
    #gallery .box .box1{
        animation: none;
    }
    .gallerybox{
        height: 1200px;
    }
    .images{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
    }
    .images a{
        margin-bottom: 10px;
    }

    #gallery .box p{
        width: auto;
    }
    .gallerybox h1{
        font-size: 40px;
    }
}
@media (max-width:620px) {
    .signup{
        width: 100%;
    }
    .signup form{
        width: 90%;
        margin-left: 20px;
    }
    #gallery{
        height: 1100px;
    }
    #gallery .dis .img1{
        flex-flow: column;
        height: 950px;
        width: 85%;
    }
    #gallery .right{
        text-align: center;
        width: 90%;
    }
    #gallery .right p{
        width: 100%;
    }
}
@media (max-width:500px) {
    #about .grid .left{
        width: 80%;
    } 
    #about .grid .right{
        width: 70%;
    }
    .Login{
        width: 100%;
    }
    .Login form{
        width: 90%;
        margin-left: 20px;
    }
}